body {
  position: relative;
}

.header-wrapper {
  border: 1px solid black;
  padding: 10px 20px;
}

.v-line {
  border-left: thick solid #000;
  height: 70px;
  position: absolute;
  margin-top: 10px;
}

.logo-img {
  margin: 10px 20px 0 0;
}

.logo-text {
  display: inline-block;
  font-family: "Lobster", cursive;
  font-size: 30px;
  margin-left: 20px;
}

.main-container {
  border: 1px solid black;
}

.search {
  position: relative;
  display: inline-block;
  width: 300px;
  left: 10%;
}

.search-input {
  width: 100%;
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px 12px;
  font-size: 14px;
}

.img3 {
  position: relative;
  display: inline-block;
  left: 25%;
}
