@charset "uft-8";
.to-do{
  /* border: 1px solid #000; */

}
.v-center{
  display: flex;
  justify-content: center;
  align-items: center;
}
.headerWrap{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px 100px;
  border-bottom: 1px solid lightgray;
}
.headerWrap>div>img{
  width: 20px;
  padding-right: 10px;
}
.logoImg{
  border-right: 1px solid #333;
}

.header-text{
  font-family: 'Great Vibes', cursive;
  font-size: 30px;
  padding-left: 10px;
}



.icon-img>img{
  padding-left: 12px;
}

/*  */
.borderBottom{
  border-bottom:1px solid lightgray ;
}
.paddingLeft{
  padding-left: 10px;
}
.contentsWrap{
  /* 화면에 100  */
  /* height: 100vh;  */
  padding-top: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.feedContainer{
  width: 500px;
  height: 100%;
  border: 1px solid lightgray;
  border-bottom: 0px;
  /* background-color: cadetblue; */
}
.feedContainer:last-child{
  margin-bottom: 80px;
  border-bottom: 1px solid lightgray;
}
.feedHeader{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
  align-items: center;
}

.profileImg{
  width: 30px; height: 30px;
  margin-right: 10px;
  border-radius: 50%;
}
.feedHeader>div>a>span{
  color: #000;
}
.feedImgWrap{
  height: 500px;
}
.feedImg{
  width: 100%;
  height: 100%;
}
.feedMenu{
  padding: 10px;
  display: flex;
  justify-content: space-between;
}
.feedMenu>ul{
  display: flex;
}
.feedMenu>ul>li{
  padding-right: 10px;
}
.likeColor{
  color: crimson;
}

/* comment */
.likeHeart{
  width: 10px;
  float: right;
  padding-right: 10px;
}
.feedComment{}

.feedComment>div:nth-child(1){
  margin-bottom: 10px;
}
.feedComment>div:nth-child(2)>span{
  font-size: 14px;
  color: #999;
}
.feedComment>div:nth-child(4){
  padding-bottom: 10px;
  font-size: 14px;
  color: #999;
}

.newComment{
  border-top: 1px solid lightgray;
}

.inputNewComment{
  padding: 10px;
  border:none;
  font-size: 14px;
  color: #999;
}
.newCommentBtn{
  padding-top: 10px;
  float: right;
  border: 0px;
  background-color:#fff;
  color: rgb(0, 128, 255);
}