* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
li {
  list-style: none;
}
img {
  width: 100%;
}
input:focus {
  outline: none;
}
body {
  background: rgb(250, 250, 250);
}
header {
  width: 100%;
  background: #fff;
  display: flex;
  justify-content: space-between;
  padding: 10px 50px;
  border-bottom: 1px solid #ddd;
  position: fixed;
}
.logo_area {
  font-family: "Lobster";
}
.main_content {
  padding-top: 80px;
}
#insert_comment {
  padding: 10px 15px;
}
.section {
  width: 40%;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin: 0 auto 30px;
  background: #fff;
}
.timeline_header {
  display: flex;
  align-items: center;
  padding: 10px;
}
.logo_area {
  font-size: 30px;
}
.search_area {
  width: 30%;
}
.search_area input {
  padding: 10px;
  width: 100%;
  background: #eee;
  border-radius: 5px;
  border: none;
}
.mymenu_area img {
  width: 30px;
  margin-right: 20px;
}
.mymenu_area img:nth-child(3) {
  margin-right: 0;
}
.profile {
  margin-right: 10px;
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: red;
}
.image p {
  width: 100%;
  height: 500px;
  background: #333;
}
.menu {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
.menu img {
  width: 25px;
}
.comment {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #ddd;
}
.comment input {
  width: 85%;
  padding: 10px;
  font-size: 16px;
  border: none;
}
.comment button {
  font-size: 14px;
  background: none;
  border: none;
  color: rgb(165, 219, 255);
  padding: 10px;
}

.user_comment {
  padding: 10px;
}
